{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ entity.title }}</h1>
    <img src="{{ vich_uploader_asset(entity, 'image') | imagine_filter('my_thumb') }}" />
    <p>{{ entity.content }}</p>
    <em>Catégories :
        {% for category in categories %}
            <p>{{ category.name }}</p>
        {% endfor %}
    </em>
    <h1>Commentaires : </h1>
    {% for comment in comments %}
        <p>{{ comment.author }} : {{ comment.content }}</p>
    {% endfor %}




    <a href="{{ path('comment_create', { 'article_id': entity.id }) }}">
        Ajouter un commentaire
    </a>


{% endblock %}
